<%= form_for(@sales_associate) do |f| %>
  <% if @sales_associate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_associate.errors.count, "error") %> prohibited this sales_associate from being saved:</h2>

      <ul>
      <% @sales_associate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :first_name, placeholder: "First Name"%>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password , autocomplete: "off"%>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation , autocomplete: "off"%>
  </div>
  <div class="form-group">
    <%= f.label :be_contacted, t(".be_contacted") %><br>
    <%= f.check_box :be_contacted %>    <%= t(".yes")%>
  </div>
    <div class="form-group">
      <%= f.label :contact_email %><br>
      <%= f.text_field :contact_email %>
    </div>
  <div class="form-group">
    <%= f.label :be_rated, t(".be_rated") %><br>
    <%= f.check_box :be_rated %> <span><%= t(".yes")%></span>
  </div>
    <div class="form-group">
      <%= f.fields_for :sales_associate_news do |news| %><br>
          <%= news.label :content, t(".news") %>
          <%= news.text_area :content, class: "form-control", rows: "5" %>
      <% end %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
