<h5>Latest News</h5>

<% if current_sales_associate? @sales_associate%>
    <%= form_tag sales_associates_news_path do %>
        <div class="form-group">
          <%= label_tag :news, nil, class: "sr-only" %>
          <%= text_area_tag :content,nil, required:true, class: "form-control", rows: 2, placeholder: t("sales_associates.form.news") %>
          <%= submit_tag t("sales_associates.form.submit"), class: "btn btn-default"%>
        </div>
    <% end %>
<% end %>

<% @sales_associate.sales_associate_news.each do |new| %>
    <p class="bg-info lead">
      <%= new.content.html_safe %>
    </p>
<% end %>