<div class="modal fade" id="wizard-new-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SIGN UP</h4>
        <small>(it's Free)</small>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class=" col-md-6 ">
            <%= link_to omniauth_authorize_path(resource_name, :facebook), class: "btn btn-block btn-social btn-facebook" do %>
              <i class="fa fa-facebook"></i> <%= t(".sigin_fb")%>
            <% end %> <br/>
            <%= link_to "#", class: "btn btn-block btn-social btn-linkedin" do %>
              <i class="fa fa-linkedin"></i> <%= t(".sigin_lk")%>
            <% end %> <br/>

        </div>
        <div class="col-md-6 ">
            <%= form_for SalesAssociate.new, url: new_sales_associate_registration_path, :html => { method: :get } do |f|%>
                   Sign up with e-mail
                <p>
                  <%= f.text_field :first_name, placeholder: "First Name"  %>
                </p>
                <p>
                  <%= f.text_field :last_name, placeholder: "Last Name"  %>
                </p>
                <p>
                  <%= f.text_field :email, placeholder: "E-mail"  %>
                </p>
                <%= f.submit "Sign Up With E-mail"%>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>