<%= link_to 'Edit your profile', edit_sales_associate_path(@sales_associate), class: "btn btn-default" if current_sales_associate?(@sales_associate)%>
<div class="media">
  <div class="media-left">
    <%= image_tag @sales_associate.avatar.url(:medium), class: "media-object thumbnail", width: 171, height: 180 %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @sales_associate.first_name %> <%= @sales_associate.last_name %></h4>

    <p>
      <strong>Email:</strong>
      <%= @sales_associate.email %>
    </p>

    <p>
      <strong>Be contacted:</strong>
      <%= @sales_associate.be_contacted %>
    </p>

    <p>
      <strong>Be rated:</strong>
      <%= @sales_associate.be_rated %>
    </p>
    <p>
      <strong>Languages:</strong>
      <%= @sales_associate.languages.map{|language| language.name}.join(", ") %>
    </p>
    <p>
      <strong>Position</strong>
      <%= raw format_position(@sales_associate.positions.first)%>
    </p>
  </div>
</div>


<%= render partial: "stores", locals:{ sales_associate: @sales_associate } %>
        <hr/>
<%= render partial: "news", locals:{ sales_associate: @sales_associate } %>

