<% if current_sales_associate? @sales_associate %>
    <%= link_to 'Edit your profile', edit_sales_associate_path(@sales_associate), class: "btn btn-default" if current_sales_associate?(@sales_associate) %>
    <%= render partial: "sales_associates/notification_area" %>
<% elsif account_signed_in? or !sales_associate_signed_in? %>
    <ol class="breadcrumb">
      <li><%= link_to "Find stores", welcome_locate_path%></li>
      <li><%= link_to sales_associate.positions.first.store.brand.name, sales_associate.positions.first.store%></li>
      <li class="active"><%= @sales_associate.first_name %> <%=@sales_associate.last_name%></li>
    </ol>

<% end %>
<div class="media">
  <div class="media-left">
    <%= image_tag @sales_associate.avatar.url(:medium), class: "media-object thumbnail", width: 171, height: 180 %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @sales_associate.first_name %> <%= @sales_associate.last_name %></h4>

    <% if @sales_associate.be_contacted %>
        <p>
          <%= mail_to( @sales_associate.email, t(".contact", first_name: @sales_associate.first_name)) %>
        </p>
    <% end %>

    <p>
      <strong>Languages:</strong>
      <%= @sales_associate.languages.map { |language| language.name }.join(", ") %>
    </p>

    <p>
      <strong>Position</strong>
      <%= raw format_position(@sales_associate.positions.first) %>
    </p>

    <% if @sales_associate.be_rated? %>
        <% unless @sales_associate.ratings.empty? %>
            <%= link_to sales_associate_ratings_path(sales_associate_id: @sales_associate), remote: true do %>
                <label>Rating:</label> <span class="badge"><%= @sales_associate.rating_score %></span>
            <% end %>
            <div class="modal fade" id="ratings-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ratings</h4>
                  </div>
                  <div class="modal-body">

                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        <% else %>
            <span>Sales Associate not rated yet</span><br/>
        <% end %>
        <% if account_signed_in? and !  @sales_associate.ratings.exists?(account: current_account)  %>
            <%= link_to t(".rate_link"), new_sales_associate_ratings_path(sales_associate_id: @sales_associate), data: {no_turbolink: true} %>
        <% end %>
    <% end %>
    </div>
</div>
<p>
  <h4><%= t("sales_associates.summary.availability")%></h4>

  <%= raw time_format_small("monday",@sales_associate.positions.first.monday, @sales_associate.positions.first.monday_start, @sales_associate.positions.first.monday_end, Time.now.monday?, true) %>
  <%= raw time_format_small("tuesday",@sales_associate.positions.first.tuesday, @sales_associate.positions.first.tuesday_start, @sales_associate.positions.first.tuesday_end, Time.now.tuesday?, true) %>
  <%= raw time_format_small("wednesday",@sales_associate.positions.first.wednesday, @sales_associate.positions.first.wednesday_start, @sales_associate.positions.first.wednesday_end, Time.now.wednesday?, true) %>
  <%= raw time_format_small("thursday",@sales_associate.positions.first.thursday, @sales_associate.positions.first.thursday_start, @sales_associate.positions.first.thursday_end, Time.now.thursday?, true) %>
  <%= raw time_format_small("friday",@sales_associate.positions.first.friday, @sales_associate.positions.first.friday_start, @sales_associate.positions.first.friday_end, Time.now.friday?, true) %>
  <%= raw time_format_small("saturday",@sales_associate.positions.first.saturday, @sales_associate.positions.first.saturday_start, @sales_associate.positions.first.saturday_end, Time.now.saturday?, true) %>
  <%= raw time_format_small("sunday",@sales_associate.positions.first.sunday, @sales_associate.positions.first.sunday_start, @sales_associate.positions.first.sunday_end, Time.now.sunday?, true) %>

</p>


<%= render partial: "stores", locals: {sales_associate: @sales_associate} %>
<hr/>
<%= render partial: "news", locals: {sales_associate: @sales_associate} %>

