<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @sales_associate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @sales_associate.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sales_associate.email %>
</p>

<p>
  <strong>Be contacted:</strong>
  <%= @sales_associate.be_contacted %>
</p>

<p>
  <strong>Be rated:</strong>
  <%= @sales_associate.be_rated %>
</p>

<%= link_to 'Edit', edit_sales_associate_path(@sales_associate), class: "btn btn-default" %>
