<p>&nbsp;</p>

<p>
	<%- if controller_name != 'sessions' %>
	  <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-info" %><br/>
	<% end -%>
</p>

<p>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>
</p>

<p>&nbsp;</p>

<p>
	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <%= link_to "Sign up", {controller: "/#{resource_name.to_s.pluralize}", action: :new}, class: "btn btn-primary" %><br />
	<% end -%>
</p>

<p>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>
</p>

<p>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
</p>

<p>&nbsp;</p>


<h4>Sign in with your social networks</h4>

<p>
<%= link_to "/auth/facebook?resource=#{resource_name}", class: "btn btn-social btn-facebook" do %>
    <i class="fa fa-facebook"></i> <%= t("sales_associates.wizard_new.sigin_fb")%>
<% end %>
</p>
<p>
<%= link_to "/auth/linkedin?resource=#{resource_name}", class: "btn btn-social btn-linkedin" do %>
    <i class="fa fa-linkedin"></i> <%= t("sales_associates.wizard_new.sigin_lk")%>
<% end %> <br/>
</p>
