<div class="field">
  <%= fields.text_field :address, class: "form-control" %>
  <%= fields.label :address, class: "small" %><br>
</div>
<div class="row">

<div class="field col-md-6">
  <%= fields.text_field :city, class: "form-control" %>
  <%= fields.label :city, class: "small" %>
</div>
  <div class="field col-md-6">
    <%= fields.text_field :state, class: "form-control" %>
    <%= fields.label :state, class: "small" %>
  </div>
  </div>
  <div class="row">
<div class="field col-md-6">
  <%= fields.number_field :zip_code, class: "form-control" %>
  <%= fields.label :zip_code, class: "small" %>
</div>
<div class="field col-md-6">

  <%= fields.text_field :country, class: "form-control" %>
  <%= fields.label :country, class: "small" %>
</div>
    </div>
<div class="field form-horizontal">
  <%= fields.label :monday %>
  <%= fields.check_box :monday %>
</div>
<div class="field form-horizontal">
  <%= fields.label :monday_start %>
  <%= fields.text_field :monday_start %>
</div>
<div class="field form-horizontal">
  <%= fields.label :monday_end %>
  <%= fields.text_field :monday_end %>
</div>
<div class="field form-horizontal">
  <%= fields.label :tuesday %>
  <%= fields.check_box :tuesday %>
</div>
<div class="field form-horizontal">
  <%= fields.label :tuesday_start %>
  <%= fields.text_field :tuesday_start %>
</div>
<div class="field form-horizontal">
  <%= fields.label :tuesday_end %>
  <%= fields.text_field :tuesday_end %>
</div>
<div class="field form-horizontal">
  <%= fields.label :wednesday %>
  <%= fields.check_box :wednesday %>
</div>
<div class="field form-horizontal">
  <%= fields.label :wednesday_start %>
  <%= fields.text_field :wednesday_start %>
</div>
<div class="field form-horizontal">
  <%= fields.label :wednesday_end %>
  <%= fields.text_field :wednesday_end, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :thursday %>
  <%= fields.check_box :thursday %>
</div>
<div class="field form-horizontal">
  <%= fields.label :thursday_start %>
  <%= fields.text_field :thursday_start, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :thursday_end %>
  <%= fields.text_field :thursday_end, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :friday %>
  <%= fields.check_box :friday %>
</div>
<div class="field form-horizontal">
  <%= fields.label :friday_start %>
  <%= fields.text_field :friday_start, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :friday_end %>
  <%= fields.text_field :friday_end, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :saturday %>
  <%= fields.check_box :saturday %>
</div>
<div class="field form-horizontal">
  <%= fields.label :saturday_start %>
  <%= fields.text_field :saturday_start, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :saturday_end %>
  <%= fields.text_field :saturday_end, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :sunday %>
  <%= fields.check_box :sunday %>
</div>

<div class="field form-horizontal">
  <%= fields.label :sunday_start %>
  <%= fields.text_field :sunday_start, class: "time-field"  %>
</div>
<div class="field form-horizontal">
  <%= fields.label :sunday_end %>
  <%= fields.text_field :sunday_end, class: "time-field" %>
</div>