<h1>Listing Stores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Address</th>
      <th>String</th>
      <th>City</th>
      <th>Zip code</th>
      <th>Country</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.address %></td>
        <td><%= store.state %></td>
        <td><%= store.city %></td>
        <td><%= store.zip_code %></td>
        <td><%= store.country %></td>

        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>
