<div class="field ">
  <%= fields.label :brand  %>
  <%= fields.select :brand_id, Brand.all.collect{|b| [b.name, b.id] }, {}, class: "form-control" %>
</div>
<% if fields.object.new_record? %>
    <div class="field form-horizontal">
      <%= label_tag :start_date, t("sales_associates.stores.position_form.start_date") %>
      <div class="input-group">
        <%= text_field_tag :start_date, @start_date, data: {provide: 'datepicker'}, class: "form-control", required: true%>
        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
      </div>
    </div>
    <div class="field form-horizontal">
      <%= label_tag :role, t("sales_associates.stores.position_form.role") %>
      <%= select_tag :role, options_for_select(Position::ROLE_LIST, @role) %>
    </div>
<% end %>

<hr/>
<div class="field">
  <%= fields.text_field :address, class: "form-control" %>
  <%= fields.label :address, class: "small", required: true %><br>
</div>
<div class="row">

<div class="field col-md-6">
  <%= fields.text_field :city, class: "form-control" %>
  <%= fields.label :city, class: "small", required: true %>
</div>
  <div class="field col-md-6">
    <%= fields.text_field :state, class: "form-control" %>
    <%= fields.label :state, class: "small", required: true %>
  </div>
  </div>
  <div class="row">
<div class="field col-md-6">
  <%= fields.number_field :zip_code, class: "form-control" %>
  <%= fields.label :zip_code, class: "small", required: true %>
</div>
<div class="field col-md-6">

  <%= fields.text_field :country, class: "form-control" %>
  <%= fields.label :country, class: "small", required: true %>
</div>
    </div>
<div class="field form-horizontal">
  <%= fields.label :monday %>
  <%= fields.check_box :monday, class: "checkbox-week" %>

    <div class="field form-horizontal checkbox-week" <%= raw 'style="display:none;"' unless fields.object.monday? %>>
          <%= fields.label :monday_start, class: "sr-only" %>
          <%= fields.text_field :monday_start, class: "time" %>

          <%= fields.label :monday_end, class: "sr-only" %>
          <%= fields.text_field :monday_end, class: "time" %>
    </div>
</div>

<div class="field form-horizontal">
  <%= fields.label :tuesday %>
  <%= fields.check_box :tuesday, class: "checkbox-week" %>

  <div class="field form-horizontal checkbox-week" <%= raw 'style="display:none;"' unless fields.object.tuesday? %>>
    <%= fields.label :tuesday_start, class: "sr-only" %>
    <%= fields.text_field :tuesday_start, class: "time" %>

    <%= fields.label :tuesday_end, class: "sr-only" %>
    <%= fields.text_field :tuesday_end, class: "time" %>
  </div>
</div>

<div class="field form-horizontal">
  <%= fields.label :wednesday %>
  <%= fields.check_box :wednesday, class: "checkbox-week" %>

  <div class="field form-horizontal checkbox-week" <%= raw 'style="display:none;"' unless fields.object.wednesday? %>>
    <%= fields.label :wednesday_start, class: "sr-only" %>
    <%= fields.text_field :wednesday_start, class: "time" %>

    <%= fields.label :wednesday_end, class: "sr-only" %>
    <%= fields.text_field :wednesday_end, class: "time" %>
  </div>
</div>

<div class="field form-horizontal">
  <%= fields.label :thursday %>
  <%= fields.check_box :thursday, class: "checkbox-week" %>

  <div class="field form-horizontal checkbox-week" <%= raw 'style="display:none;"' unless fields.object.thursday? %>>
    <%= fields.label :thursday_start, class: "sr-only" %>
    <%= fields.text_field :thursday_start, class: "time" %>

    <%= fields.label :thursday_end, class: "sr-only" %>
    <%= fields.text_field :thursday_end, class: "time" %>
  </div>
</div>

<div class="field form-horizontal">
  <%= fields.label :friday %>
  <%= fields.check_box :friday, class: "checkbox-week" %>

  <div class="field form-horizontal checkbox-week" <%= raw 'style="display:none;"' unless fields.object.friday? %>>
    <%= fields.label :friday_start, class: "sr-only" %>
    <%= fields.text_field :friday_start, class: "time" %>

    <%= fields.label :friday_end, class: "sr-only" %>
    <%= fields.text_field :friday_end, class: "time" %>
  </div>
</div>

<div class="field form-horizontal">
  <%= fields.label :saturday %>
  <%= fields.check_box :saturday, class: "checkbox-week" %>

  <div class="field form-horizontal checkbox-week" <%= raw 'style="display:none;"' unless fields.object.saturday? %>>
    <%= fields.label :saturday_start, class: "sr-only" %>
    <%= fields.text_field :saturday_start, class: "time" %>

    <%= fields.label :saturday_end, class: "sr-only" %>
    <%= fields.text_field :saturday_end, class: "time" %>
  </div>
</div>


<div class="field form-horizontal">
  <%= fields.label :sunday %>
  <%= fields.check_box :sunday, class: "checkbox-week" %>

  <div class="field form-horizontal checkbox-week" <%= raw 'style="display:none;"' unless fields.object.sunday? %>>
    <%= fields.label :sunday_start, class: "sr-only" %>
    <%= fields.text_field :sunday_start, class: "time" %>

    <%= fields.label :sunday_end, class: "sr-only" %>
    <%= fields.text_field :sunday_end, class: "time" %>
  </div>
</div>

