<%= form_for([current_sales_associate, @store]) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'fields', object: f %>

  <div class="actions">
    <%= f.submit :update, class: "btn btn-primary" %>
  </div>
<% end %>
