<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>String:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @store.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @store.country %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @store.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @store.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @store.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @store.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @store.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @store.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @store.sunday %>
</p>

<p>
  <strong>Monday start:</strong>
  <%= @store.monday_start %>
</p>

<p>
  <strong>Monday end:</strong>
  <%= @store.monday_end %>
</p>

<p>
  <strong>Tuesday start:</strong>
  <%= @store.tuesday_start %>
</p>

<p>
  <strong>Tuesday end:</strong>
  <%= @store.tuesday_end %>
</p>

<p>
  <strong>Wednesday start:</strong>
  <%= @store.wednesday_start %>
</p>

<p>
  <strong>Wednesday end:</strong>
  <%= @store.wednesday_end %>
</p>

<p>
  <strong>Thursday start:</strong>
  <%= @store.thursday_start %>
</p>

<p>
  <strong>Thursday end:</strong>
  <%= @store.thursday_end %>
</p>

<p>
  <strong>Friday start:</strong>
  <%= @store.friday_start %>
</p>

<p>
  <strong>Friday end:</strong>
  <%= @store.friday_end %>
</p>

<p>
  <strong>Saturday start:</strong>
  <%= @store.saturday_start %>
</p>

<p>
  <strong>Saturday end:</strong>
  <%= @store.saturday_end %>
</p>

<p>
  <strong>Sunday start:</strong>
  <%= @store.sunday_start %>
</p>

<p>
  <strong>Sunday end:</strong>
  <%= @store.sunday_end %>
</p>

<%= link_to 'Edit', edit_sales_associate_store_path(sales_associate_id: current_sales_associate, id: @store) %> |
<%= link_to 'Back', sales_associate_stores_path(sales_associate_id: current_sales_associate) %>
