<div class=" store-area" data-id="<%= store.id %>">
  <div class="col-xs-6 bg-white">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= link_to store do %>
              <%= image_tag store.logo.url(:thumb),
                            alt: store.brand.name,
                            class: "img-thumbnail media-object",
                            "data-content" => image_icon_data_content(store.logo.url(:medium), store.brand.name) %>
          <% end %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to store.brand.name, store %></h4>
        <%= link_to store.brand.website, "http://#{store.brand.website}", target: "_blank" %> <br/>
        <%= raw address_format store, false %>
        <p>
          <%= link_to "#{store.sales_associates.size} sales associated", store %>
        </p>
      </div>
    </div>
  </div>
  <div class="balloon-area" style="display: none" data-id="<%= store.id %>">

    <h6><%= link_to store.brand.name, store %><br/>
      <% if store.sales_associates.empty? %>
          <small>No sales associate yet</small>
      <% else %>
          <small>Sales Associates</small>
      <% end %>
    </h6>
    <div class="balloon-row">
    <% store.sales_associates.each do |sales_associate| %>

        <div class="media">
          <%= link_to sales_associate do %>
              <div class="media-left">
                <%= image_tag sales_associate.avatar.url(:tiny) %>
              </div>
              <div class="media-body">
                <%= sales_associate.first_name %> <%= sales_associate.last_name %> <br/>
                <small><%= sales_associate.languages.map { |language| language.name }.join(", ") %></small>
              </div>
          <% end %>
        </div>

    <% end %>
    </div>

  </div>
</div>