<div class=" store-area" data-id="<%= store.id %>">
  <div class="col-xs-6 bg-white">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= link_to store do %>
              <%= image_tag store.logo.url(:thumb),
                            alt: store.brand.name,
                            class: "img-thumbnail media-object",
                            "data-content" => image_icon_data_content(store.logo.url(:medium), store.brand.name) %>
          <% end %>
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><%= link_to store.brand.name, store %></h5>
        <%= link_to store.brand.website, "http://#{store.brand.website}", target: "_blank" %> <br/>
        <%= raw address_format store, false %>
        <p>
          <%= link_to "#{store.sales_associates.size} sales associated", store %>
        </p>
      </div>
    </div>
  </div>
  <div class="balloon-area" style="display: none" data-id="<%= store.id %>">

    <h6><%= link_to store.brand.name, store %><br/>
      <small>
        <%= raw address_format store, false %>
        <% unless store.sales_associates.empty? %>
          <%= link_to "javascript:", class: "balloon-link-sales", data: {toggle: "modal", target: "#ballon-sales-#{store.id}"} do %>
              <span class="glyphicon glyphicon-user"></span> <%= t(".view_sales") %>
          <% end %>
        <% end %>
      </small>
    </h6>

  </div>
  <div class="modal fade" id="<%= "ballon-sales-#{store.id}" %>" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-summary">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4><%= store.brand.name %></h4>
        </div>

        <div class="modal-body">
          <% store.sales_associates.each do |sales_associate| %>
              <%= render partial: "sales_associates/summary", locals: {sales_associate: sales_associate} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>