<div id="wrapper">

  <div class="container text-left">
    <h1>Luxury stores' overview</h1>
    <h2>Your personal shopping assistant</h2>
  </div>

  <div class="vertical-spacer"></div>

  <div class="container find_search padded">
    <div class="row panel">
      <div class="col-xs-12">
        <div class="panel-heading">
          Connect to the first community of sales associates in luxury retail
        </div>
        <div class="panel-body">
          <%= form_tag welcome_locate_path, class: "form-inline", method: :get do %>
            <div class="form-group">
              <%= label_tag :country %>
              <%= text_field_tag :country, nil, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag :city %>
              <%= text_field_tag :city, nil, class: "form-control" %>
            </div>
            <%= submit_tag t(".find_store"), class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="vertical-spacer"></div>

</div>

<div class="container padded" id="benefits">

  <div class="container text-left title">
      <h3>Close to you. Close to the brands.</h3>
  </div>

  <div class="vertical-spacer"></div>

  <div class="row text-center">
    <div class="col-sm-6 col-md-3">
      <div class="features" data-sr="wait 0.2s, over 0.7s, scale up 30%">
        <%= image_tag "locate.svg" %>
        <p>
          Locate sales associates who speak your own language
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="features" data-sr="wait 0.4s, over 0.7s, scale up 30%">
        <%= image_tag "availability.svg" %>
        <p>
          Contact available assistants, regular, according to their timetables
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="features" data-sr="wait 0.6s, over 0.7s, scale up 30%">
        <%= image_tag "notify.svg" %>
        <p>
          Give notice of your visit, chat for personal advice and setting goods aside
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="features" data-sr="wait 0.8s, over 0.7s, scale up 30%">
        <%= image_tag "rating.svg" %>
        <p>
          Rate your shopping experience
        </p>
      </div>
    </div>

  </div>

</div>

  <div class="container text-center">
    <h3>Get news from MyLuxee</h3>

    <p>Leave us your mail, we won't be sending sacks of emails. Promise.
    </p>

    <form class="form-inline" role="form" action="//myluxee.us11.list-manage.com/subscribe/post?u=b7959a16cabf22b1008be1d01&amp;id=faf2916d4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
      <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
      <input type="submit" value="Remind me" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
    </form>
  </div>

  <div class="vertical-spacer"></div>

  <div class="text-center" id="banner">
  <p>
    WORK IN LUXURY STORE ? COME GROW THE COMMUNITY, TELL AND RETAIN YOUR CLIENTS !
    <br><button type="button" class="btn-rounded btn-lg" data-toggle="modal" data-target="#wizard-new-modal">SIGN UP</button>
  </p>
  </div>

<div class="padded" id="About">

  <div class="container text-left title">
    <h3>WHAT IS IT REALLY ?</h3>
  </div>

  <div class="container text-center">
    <p class="title"><strong>EXTRAS FOR ALL</strong></p>
    <%= image_tag "associates.svg" %>
    <p>
      <strong>SALES ASSOCIATES</strong>
      <br>Tell and retain customers
    </p>
    <ul class="list-unstyled text-center">
      <li>Emphase your position</li>
      <li>Multiply your contacts</li>
      <li>Rise your commissions</li>
      <li>Update your information in real time</li>
    </ul>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag "customer.svg" %>
        <p>
          <strong>CUSTOMERS / PERSONAL SHOPPERS</strong>
          <br>Adopt a great multilingual assistant
        </p>
        <ul class="list-unstyled">
          <li>Notify your visit</li>
          <li>Click for trying and setting aside</li>
          <li>Improve your shopping session thanks to original information</li>
          <li>Keep a privileged link to the teams of points of sale</li>
        </ul>
      </div>
      <div class="col-xs-6">
        <%= image_tag "store.svg" %>
        <p>
          <strong>BRANDS' STORES</strong>
          <br>Take it easy, it is only productivity
        </p>
        <ul class="list-unstyled">
          <li>Rise the traffic</li>
          <li>Involve your teams, reduce the turn-over</li>
          <li>Strengthen your stores' image and attractiveness</li>
          <li>Collect data and unbiased return of the customer experience</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="vertical-spacer"></div>

  <p class="text-center title"><strong>PEOPLE BUY FROM PEOPLE - EVEN MORE SO IN LUXURY</strong></p>

  <div class="vertical-spacer"></div>

  <div class="container text-justify">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <p>
          MyLuxee is an easy web-to-store solution that maintains the relationships between the retail luxury stores and
          their clients.
          <br>The plateform creates close links, allowing customers to get in touch with theirs favorite stores thanks
          to privileged contacts with the salespeople.
          <br>MyLuxee is a new shopping experience, borned out of two basic admissions in the luxury retail industry.
        </p>
      </div>
      <div class="col-sm-6 col-md-6">
        <p>
          For luxury shoppers, there is nothing better than dealing with sales associates they know well. Regular
          clients even call them by their first names.
          <br>Abroad or in places they know less, they often prefer being understood and advised by those who speak
          their own language.
          <br>Brands hire specialists, fluent, but these are not always at full disposition due to different timetables.
        </p>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <p>
      <strong>WHY NOT</strong> being aware of sales' availability and contacting them straight ?
      <br>Who better than the salespeople can advise you personally, book a good or even reserve some time for you ?
      <br>Let stores' sales associates become your fixers, let them be your <strong>luxees</strong> !
    </p>
  </div>

</div>

<div class="vertical-spacer"></div>

<script>

    window.sr = new scrollReveal();

</script>
