<div class="text-center" id="banner">
  <p> Salespeople ? Join us, tell about MyLuxee and retain the shoppers !
    <br><button type="button" class="btn-rounded btn-lg" data-toggle="modal" data-target="#wizard-new-sales-modal">SIGN UP</button>
  </p>
</div>

<div class="row" id="search-content">
  <div class="col-sm-6 store-list">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "filter" %>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-12 text-right" id="pagination-area">
        <%= paginate @stores, remote: true, params: {address: @address, brand: @brand, speciality: @speciality,
                                                     place: @place} %>
      </div>
    </div>
    <div id="stores-area">
      <% unless @stores.empty? %>
        <% @stores.each do |store| %>
            <%= render partial: "store_card", locals: {store: store} %>
        <% end %>
      <% else %>
          <div class="jumbotron">
            <div class="container">
            
            <h3>It seems that there is no store in this area</h3>
            <h4>Be the first to be warned when we’ll reach this zone</h4>

            <form class="form-inline" role="form" action="//myluxee.us11.list-manage.com/subscribe/post?u=b7959a16cabf22b1008be1d01&amp;id=faf2916d4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
              <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
              <input type="submit" value="Remind me" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
            </form>
            
            
              <h4>Try to shop elsewhere</h4>
              <%= form_tag welcome_locate_path, method: :get, class: "form-inline" do %>
                  <div class="form-group">
                    <%= label_tag :place %><br>
                    <%= text_field_tag :place, @place, class: "form-control" %>
                  
                  <%= submit_tag t("welcome.index.find_store"), class: "btn btn-primary"%>
                  </div>
              <% end %>
            
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6 hidden-xs visible-sm-*">
    <div id="map" style="width: 100%; height: 550px;"></div>
  </div>
</div>

<script type="application/javascript">
    setInitialLocation('<%= @place %>')
    setStoresToMap(<%= raw @stores.to_json include: [:brand]%>);
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBC9IaTnQh2ds8DAcLWL4zvU-dYBgrdQss&callback=loadLocateMap"/>

<script type="application/javascript">
    $(document).ready(function () {
        $(".img-popover").popover({
            html: true,
            trigger: "hover",
            placement: "bottom"
        });
    });
</script>