<div class="modal fade" id="wizard-new-sales-session-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">LOG IN TO YOUR ACCOUNT<br/>
          <small>Don't have an account ? <a href="javascript:" id="signup-link">Sign up</a></small></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class=" col-md-6 ">
            <h5>Log in with your social networks</h5>
            <br/>
            <p>
            <%= link_to "auth/facebook?resource=sales_associate", class: "btn btn-social btn-facebook" do %>
                <i class="fa fa-facebook"></i> <%= t("sales_associates.wizard_new.sigin_fb")%>
            <% end %> <br/>
            </p>
            <p>
            <%= link_to "auth/linkedin?resource=sales_associate", class: "btn btn-social btn-linkedin" do %>
                <i class="fa fa-linkedin"></i> <%= t("sales_associates.wizard_new.sigin_lk")%>
            <% end %> <br/>
            </p>
          </div>
          <div class="col-md-6 ">
            <h5>Email Log in</h5>
            <br/>
            <%= form_for(SalesAssociate.new, as: "sales_associate", url: session_path("sales_associate")) do |f| %>
                <p class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </p>

                <div class="field">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
                </div>

                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>

                <p class="actions">
                  <%= f.submit "Log in", class: "btn btn-info" %>
                </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $("#wizard-new-sales-session-modal a#signup-link").click(function(){
    $('#wizard-new-sales-session-modal').modal('hide');
    $('#wizard-new-sales-modal').modal('show');

});
</script>