---
title: My luxee - Keep in touch with luxury stores
---

  <div id="wrapper">
    
    <div class="container text-center">
      <h1>THE LUXURY STORES SELLERS′ NETWORK</h1>

      <h2>YOUR SHOPPING ASSISTANT</h2>
    </div>
      
    <div class="vertical-spacer"></div>
      
    <div class="container text-center">
      <h3>Close to the Customers</h3>
      <h3>Close to the Brands</h3>
    </div>
    
    <div class="vertical-spacer"></div>

    <div class="container text-center">
     <form class="form-inline" role="form" action="//myluxee.us11.list-manage.com/subscribe/post?u=b7959a16cabf22b1008be1d01&amp;id=faf2916d4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
       <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
       <input type="submit" value="Grow together" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
     </form>
    </div>
    
    <div class="text-center chevron">
      <% link_to '#benefits' do %>
         <i class="fa fa-angle-down pulse"></i>
      <% end %>
    </div>
 
  </div>

  <div class="container padded" id="benefits">
    <div class="container text-left title">
      <h3>KEEP IN TOUCH WITH LUXURY STORES</h3>
    </div>

    <div class="vertical-spacer"></div>

    <div class="row text-center">
      <div class="col-sm-6 col-md-3">
        <div class="features" data-sr="wait 0.2s, over 0.7s, scale up 30%">
        <%= image_tag "locate.svg" %>
          <p>
            Locate sales associates 
            <br>who speak your own language
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="features" data-sr="wait 0.4s, over 0.7s, scale up 30%">
          <%= image_tag "availability.svg" %>
          <p>
            Contact your favorite sellers
            <br>according to their timetables
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="features" data-sr="wait 0.6s, over 0.7s, scale up 30%">
          <%= image_tag "notify.svg" %>
          <p>
            Notify salespeople of your visit, set goods aside
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="features" data-sr="wait 0.8s, over 0.7s, scale up 30%">
          <%= image_tag "rating.svg" %>
          <p>
            Rate your shopping experience
          </p>
        </div>
      </div>
    </div>

    <div class="vertical-spacer"></div>
    
    <div class="text-center chevron">
      <% link_to '#banner' do %>
         <i class="fa fa-angle-down pulse"></i>
      <% end %>
    </div>

  </div>

  <div class="text-center" id="banner">
    <p>
      SELLER ? 
      <br>COME GROW THE COMMUNITY, TELL AND RETAIN YOUR CLIENTS !  
      <br><button type="button" class="btn-rounded">SIGN UP</button>
    </p>
  </div> 
  
  <div class="row">
    
    <div class= "col-sm-6"> 
      <div class="row">
        <div class="col-xs-6 bg-white">
          <div class="text-center">
            <img src="images/boy.svg"
              alt="Associate"
              class="img-circle img-popover"
              data-content="<img src='images/boy.svg' class='img-circle img-responsive'>
              <h4>CHRISTOPHER</h4>
              <p class='text-muted'>english, polish
              <br>Today : 11.00 - 19.00
              </p>">
            <%=link_to "<h4>Emporio Armani</h4>", "#" %>
            <%=link_to '<p class= "text-muted">CHRISTOPHER</p>', "#" %>
          </div>
        </div>
        <div class="col-xs-6 bg-white">
          <div class="text-center ">
            <img src="images/girl.svg"
              alt="Associate"
              class="img-circle img-popover"
              data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
              <h4>ANISSA</h4>
                <p class='text-muted'>english, spanish, arabic
                <br>Today : 12.00 - 20.00
                </p>">
            <%=link_to "<h4>Emporio Armani</h4>", "#" %>
            <%=link_to '<p class= "text-muted">ANISSA</p>', "#" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 bg-white">
          <div class="text-center ">
            <img src="images/girl.svg"
            alt="Associate"
            class="img-circle img-popover"
            data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
            <h4>SARA</h4>
            <p class='text-muted'>english, italian
            <br>Today : 12.00 - 20.00
            </p>">
            <%=link_to "<h4>Emporio Armani</h4>", "#" %>
            <%=link_to '<p class= "text-muted">SARA</p>', "#" %>
          </div>
        </div>
        <div class="col-xs-6 bg-white">
          <div class="text-center ">
            <img src="images/boy.svg"
            alt="Associate"
            class="img-circle img-popover"
            data-content="<img src='images/boy.svg' class='img-circle img-responsive'>
            <h4>ERWAN</h4>
            <p class='text-muted'>english, portuguese
            <br>Today : 11.00 - 19.00
            </p>">
            <%=link_to "<h4>Emporio Armani</h4>", "#" %>
            <%=link_to '<p class= "text-muted">ERWAN</p>', "#" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 bg-white">
          <div class="text-center">
            <img src="images/girl.svg"
              alt="Associate"
              class="img-circle img-popover"
              data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
              <h4>MIA</h4>
                <p class='text-muted'>english, russian
                <br>Today : 12.00 - 20.00
                </p>">
            <%=link_to "<h4>Emporio Armani</h4>", "#" %>
            <%=link_to '<p class= "text-muted">MIA</p>', "#" %>
          </div>
        </div>
        <div class="col-xs-6 bg-white">
          <div class="text-center">
            <img src="images/girl.svg"
            alt="Associate"
            class="img-circle img-popover"
            data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
            <h4>MIN-YU</h4>
            <p class='text-muted'>english, chinese
            <br>Today : 12.00 - 20.00
            </p>">
            <%=link_to "<h4>Emporio Armani</h4>", "#" %>
            <%=link_to '<p class= "text-muted">MIN-YU</p>', "#" %>
          </div>
        </div>
      </div>
    </div>

    <div class= "col-sm-6">
      <div id="map" style="width: 100%; height: 550px;"></div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

        <script type="text/javascript">
          var myLatlng = new google.maps.LatLng(48.8536450,2.3325860);

          var myOptions = {
          zoom: 14,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
                };

            var map = new google.maps.Map(document.getElementById('map'), myOptions);
            var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: "Store position"
                });
        </script>
      </div>
    </div>

  </div>

  <div class="padded" id="About">

    <div class="container text-left title">
      <h3>WHAT</h3>
    </div>
    
    <div class="container text-center">
      <p class="title"><strong>EXTRAS FOR ALL</strong></p>
        <%= image_tag "associates.svg" %>
      <p>  
        <strong>SALES ASSOCIATES</strong>
        <br>Tell and retain customers
      </p>
      <ul class="list-unstyled text-center">
        <li>Emphase your position</li> 
        <li>Multiply your contacts</li>
        <li>Rise your commissions</li>
        <li>Update your information in real time</li> 
      </ul>
    </div> 

    <div class="container text-center">
      <div class="row">
        <div class="col-xs-6">
          <%= image_tag "customer.svg" %>
          <p>
            <strong>CUSTOMERS / PERSONAL SHOPPERS</strong>
            <br>Adopt a great multilingual assistant
          </p>
          <ul class="list-unstyled">
            <li>Notify your visit </li> 
            <li>Click for trying and setting aside </li> 
            <li>Improve your shopping session thanks to original information</li> 
            <li>Keep a privileged link to the teams of points of sale</li>
          </ul>
          </div>
          <div class="col-xs-6">
            <%= image_tag "store.svg" %>
            <p>
              <strong>BRANDS' STORES</strong>
              <br>Take it easy, it is only productivity
            </p>
            <ul class="list-unstyled">
              <li>Rise the traffic</li>
              <li>Involve your teams, reduce the turn-over</li>
              <li>Strengthen your stores' image and attractiveness</li>
              <li>Collect data and unbiased return of the customer experience</li>
            </ul>
          </div>
        </div>
      </div>   

    <div class="container text-left title">
      <h3>WHY</h3>
    </div>
    
    <p class="text-center title"><strong>PEOPLE BUY FROM PEOPLE - EVEN MORE SO IN LUXURY</strong></p>

    <div class="container text-justify">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <p>
            MyLuxee is an easy web-to-store solution that maintains the relationships between the retail luxury stores and their clients.
            <br>The platform creates close links, allowing customers to get in touch with theirs favorite stores thanks to privileged contacts with the salespeople.
            <br>MyLuxee is a new shopping experience, borned out of two basic admissions in the luxury retail industry.
          </p>
        </div>
        <div class="col-sm-6 col-md-6">
          <p>
            For luxury shoppers, there is nothing better than dealing with sales associates they know well. Regular clients even call them by their first names.
            <br>Abroad or in places they know less, they often prefer being understood and advised by those who speak their own language. 
            <br>Brands hire specialists, fluent, but these are not always at full disposition due to different timetables.
          </p> 
        </div>
      </div> 
    </div>

    <div class="container text-center">
      <p>
        <strong>WHY NOT</strong> being aware of associates' availability and contacting them straight ?
        <br>Who better than the salespeople can advise you personally, book a good or even reserve some time for you ?
        <br>Let stores' sellers become your <strong>luxees</strong> !
      </p>
    </div>

    <div class="container text-left title">
      <h3>WHO</h3>
    </div>

    <div class="container">
      <div class="row text-center">
        <div class="col-xs-6">
          <%= image_tag "ClementTANGUY.jpg", class: "img-circle" %>
          <p>
            Autodidact, dabbler, working in a luxury point of sale,
            <br>I think human should ever be first in its digital issues.
            <br>So I founded MyLuxee.</p>
        </div>
        <div class="col-xs-6">
          <%= image_tag "profile-photo.jpg", class: "img-circle" %>
          <p>
            Coding, designing, marketing...
            <br>Join an original on-demand economy project 
            <br>and a unic disruptive adventure !</p>
        </div>
      </div>    
    </div>  
  </div>

  <div class="container text-center">
    <h2>Get news from MyLuxee</h2>
    <p>Leave us your mail, we won't be sending sacks of emails. Promise.</p>
     <form class="form-inline" role="form" action="//myluxee.us11.list-manage.com/subscribe/post?u=b7959a16cabf22b1008be1d01&amp;id=faf2916d4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
       <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
       <input type="submit" value="Follow us" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
     </form>
    </div>
  </div>

  <div class="vertical-spacer"></div>

  <script>

    window.sr = new scrollReveal();

  </script>

  <script>
        $(document).ready(function(){
      $(".img-popover").popover({
        html: true,
        trigger: "hover",
        placement: "bottom"
      });
    })
  </script>
