<div class="text-center" id="banner">
  <p>
    SALES ASSOCIATES ? 
    <br>COME GROW THE COMMUNITY, TELL AND RETAIN YOUR CLIENTS !  
    <br><button type="button" class="btn-rounded">SIGN UP</button>
  </p>
</div> 

<div class="row">
  
  <div class= "col-sm-6"> 
    <div class="row">
      <div class="col-xs-6 bg-white">
        <div class="text-center">
          <img src="images/boy.svg"
            alt="Associate"
            class="img-circle img-popover"
            data-content="<img src='images/boy.svg' class='img-circle img-responsive'>
            <h4>CHRISTOPHER</h4>
            <p class='text-muted'>english, polish
            <br>Today : 11.00 - 19.00
            </p>">
          <%=link_to "<h4>Emporio Armani</h4>", "#" %>
          <%=link_to '<p class= "text-muted">CHRISTOPHER</p>', "#" %>
        </div>
      </div>
      <div class="col-xs-6 bg-white">
        <div class="text-center ">
          <img src="images/girl.svg"
            alt="Associate"
            class="img-circle img-popover"
            data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
            <h4>ANISSA</h4>
              <p class='text-muted'>english, spanish, arabic
              <br>Today : 12.00 - 20.00
              </p>">
          <%=link_to "<h4>Emporio Armani</h4>", "#" %>
          <%=link_to '<p class= "text-muted">ANISSA</p>', "#" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 bg-white">
        <div class="text-center ">
          <img src="images/girl.svg"
          alt="Associate"
          class="img-circle img-popover"
          data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
          <h4>SARA</h4>
          <p class='text-muted'>english, italian
          <br>Today : 12.00 - 20.00
          </p>">
          <%=link_to "<h4>Emporio Armani</h4>", "#" %>
          <%=link_to '<p class= "text-muted">SARA</p>', "#" %>
        </div>
      </div>
      <div class="col-xs-6 bg-white">
        <div class="text-center ">
          <img src="images/boy.svg"
          alt="Associate"
          class="img-circle img-popover"
          data-content="<img src='images/boy.svg' class='img-circle img-responsive'>
          <h4>ERWAN</h4>
          <p class='text-muted'>english, portuguese
          <br>Today : 11.00 - 19.00
          </p>">
          <%=link_to "<h4>Emporio Armani</h4>", "#" %>
          <%=link_to '<p class= "text-muted">ERWAN</p>', "#" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 bg-white">
        <div class="text-center">
          <img src="images/girl.svg"
            alt="Associate"
            class="img-circle img-popover"
            data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
            <h4>MIA</h4>
              <p class='text-muted'>english, russian
              <br>Today : 12.00 - 20.00
              </p>">
          <%=link_to "<h4>Emporio Armani</h4>", "#" %>
          <%=link_to '<p class= "text-muted">MIA</p>', "#" %>
        </div>
      </div>
      <div class="col-xs-6 bg-white">
        <div class="text-center">
          <img src="images/girl.svg"
          alt="Associate"
          class="img-circle img-popover"
          data-content="<img src='images/girl.svg' class='img-circle img-responsive'>
          <h4>MIN-YU</h4>
          <p class='text-muted'>english, chinese
          <br>Today : 12.00 - 20.00
          </p>">
          <%=link_to "<h4>Emporio Armani</h4>", "#" %>
          <%=link_to '<p class= "text-muted">MIN-YU</p>', "#" %>
        </div>
      </div>
    </div>
  </div>

  <div class= "col-sm-6">
    <div id="map" style="width: 100%; height: 550px;"></div>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
        var myLatlng = new google.maps.LatLng(48.8536450,2.3325860);

        var myOptions = {
        zoom: 14,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
              };

          var map = new google.maps.Map(document.getElementById('map'), myOptions);
          var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: "Store position"
              });
      </script>
    </div>
  </div>
</div>

<div class="container text-center padded">
  <h2>Get news from MyLuxee</h2>
  <p>Leave us your mail, we won't be sending sacks of emails. Promise.</p>
      <form class="form-inline" role="form" action="//myluxee.us11.list-manage.com/subscribe/post?u=b7959a16cabf22b1008be1d01&amp;id=faf2916d4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
      <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
      <input type="submit" value="Grow together" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
      </form>
    </div>
  </div>

<script>
      $(document).ready(function(){
    $(".img-popover").popover({
      html: true,
      trigger: "hover",
      placement: "bottom"
    });
  })
</script>