<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyLuxee - Keep in touch with luxury stores</title>
  <meta name="description" content="MyLuxee connects worldwide shoppers to their favorite luxury stores through the first network of salespeople. Easy & free !"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <meta property="og:title" content="MyLuxee - Keep in touch with luxury stores"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.myluxee.com/" />
  <meta property="og:image" content="http://www.myluxee.com/assets/og.jpg" />
  <meta property="og:description" content="First community of salespeople in luxury retail, MyLuxee allows worldwide shoppers to improve their in-store experience thanks to privileged contacts in points of sale"/>
  <meta property="og:site_name" content="MyLuxee" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@MyLuxee">
  <meta name="twitter:title" content="MyLuxee - Keep in touch with luxury stores">
  <meta name="twitter:description" content="First community of salespeople in luxury retail, MyLuxee allows worldwide shoppers to improve their in-store experience thanks to privileged contacts in points of sale">
  <meta name="twitter:creator" content="@MyLuxee">
  <meta name="twitter:image:src" content="http://www.myluxee.com/assets/og.jpg">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<%= javascript_include_tag  "welcome.js" %>-->

  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to root_path, class: "navbar-brand" do %>
            <%=image_tag "mylogo.png" %>
          <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <% if sales_associate_signed_in? %>
            <%= render partial: 'sales_associates/menu'%>
            <% elsif account_signed_in? %>
            <%= render partial: 'accounts/menu'%>
            <% else %>
            <%= render 'devise/sessions/new_inline'%>
            <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="container">
  <%= render 'alert_area' %>
    <%= yield %>
</div>

<div id="footer">
  <div class="container text-center">
    <p>©<%= Time.now.year %> MyLuxee</p>
    <ul class="list-inline">
      <li><%= link_to raw('<i class="fa fa-facebook fa-2x"></i>'), "http://facebook.com/MyLuxee", target: "blank" %></li>
      <li></li>
      <li><%= link_to raw('<i class="fa fa-twitter fa-2x"></i>'), "http://twitter.com/MyLuxee", target: "blank" %></li>
      <li></li>
      <li><%= link_to raw('<i class="fa fa-linkedin fa-2x"></i>'), "https://www.linkedin.com/company/10235063", target: "blank" %></li>
      <li></li>
      <li><%= mail_to "contact@myluxee.com", raw('<i class="fa fa-envelope fa-2x"></i>') %></li>
    </ul>
    <ul class="list-inline">
      <li><small><%= link_to t("layouts.application.privacy"), welcome_privacy_policy_path%></small></li> |
      <li><small><%= link_to t("layouts.application.terms"), welcome_terms_and_conditions_path%></small></li>
    </ul>
  </div>
</div>
</body>
</html>
