<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyluxeeCom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="#">
      <%= image_tag "logo.png", class: "col-xs-3 col-md-3"%>
    </a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <% if sales_associate_signed_in? %>
          <%= render partial: 'sales_associates/menu'%>
        <% elsif account_signed_in? %>
          <%= render partial: 'accounts/menu'%>
        <% else %>
          <%= render 'devise/sessions/new_inline'%>
        <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <%= render 'alert_area' %>
    <%= yield %>
</div>

<div id="footer">
  <div class="container text-center">
    <p>©<%= Time.now.year %> MyLuxee</p>
    <ul class="list-inline">
      <li><%= link_to raw('<i class="fa fa-facebook fa-2x"></i>'), "http://facebook.com/MyLuxee", target: "blank" %></li>
      <li></li>
      <li><%= link_to raw('<i class="fa fa-twitter fa-2x"></i>'), "http://twitter.com/MyLuxee", target: "blank" %></li>
      <li></li>
      <li><%= link_to raw('<i class="fa fa-envelope fa-2x"></i>'), "mailto:contact@myluxee.com" %></li>
    </ul>
  </div>
</div>
</body>
</html>
